body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(' f:\Aditya_Nmims\DiscordDownloads\download (1).jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background for better readability */
    padding: 20px;
    border-radius: 10px;
}
h1 {
    color: #333;
}
.link {
    display: inline-block;
    margin: 20px;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.link:hover {
    background-color: #0056b3;
}
